@import './base.css';

header {
    background-color: var(--color-background);
}

header a {
    font-weight: bolder;
}

header button {
    font-weight: bolder;
    text-decoration: none;
    color: white;
}

.card-title a {
    font-weight: bold;
    /* text-decoration: none; */
    /* color: var(--color-heading); */
}

.card p {
    color: var(--color-text);
}

button a {
    /* text-decoration: none; */
    color: var(--color-heading);
}

.survey-body {
    background-color: #ffffff;
    border-radius:0.375rem;
}
